.env
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
*.log
*.pot
*.py[cod]
*.sqlite3
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.mo
*.swp
*.swo
*.DS_Store
*.coverage
.coverage.*
htmlcov/
*.migrations/
env/
venv/
